<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("../assets/images/mbells.jpg");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../css/mbells/mbells.css">
</head>

<body class="bg">

    <div>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a>FILO</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="../home.html">Home</a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../account.html"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            </ul>
          </div>
        </nav>
      </div>

  <div class="container">
    <div id="box1" class="box blurred-bg tinted center">
      <div class="content">
        <h1>Maroon Bells</h1>

        <br>
        <br>
        <div class="container">
          <div class="row">
            <div class="col actvity">
              <div class="activity-container col-3">
                <h2>Activities</h2>

                <div id="activities">
                  <ul>
                    <li> <a href="https://dayhikesneardenver.com/maroon-bells-colorado/">Hiking - Maroon Bells</a></li>
                    <li> <a href="https://www.recreation.gov/camping/campgrounds/231882">Camping - Silver Bell Camps </a></li>
                    <li> <a href="https://www.mtbproject.com/trail/7002816/power-of-four">MTN biking - Power of Four Trail </a></li>
                    <li> <a href="https://www.uncovercolorado.com/national-lands/maroon-bells-scenic-area/">Fishing - Maroon Lake </a></li>
                    <li> <a href="https://www.uncovercolorado.com/national-lands/maroon-bells-scenic-area/">Picknicking - East Maroon Portal </a></li>                    
                  </ul>
                </div>
              </div>
            </div>
             
            <div class="col social">
              <div class="social-container col-3">
                <h2>Social</h2>

                <div id="social">
                  <ul>
                    <li> <a href="https://elkavebrewing.com/">Brewery - Eldo </a></li>
                    <li> <a href="https://www.mangelsen.com/maroon-bells-reflection-2978.html">Gallery - Paragon Art</a></li>
                    <li> <a href="https://www.mangelsen.com/maroon-bells-reflection-2978.html">Museum - CB Mountain Heritage</a></li>
                    <li> <a href="https://www.facebook.com/Kochevars/">Bar - Kochevar's Saloon</a></li>
                    <li> <a href="http://www.djangos.us/">Restaurant - Django's</a></li>                    
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg">Add to Planner</button>
        </div>
      </div>

    </div>

</body>

</html>